/**
 * @file
 * Styles for admin page of Menu Item Attach module.
*/

div.status.menu-item-attach-overview {
  background-image: none;
  display: inline;
  font-size: 0.9em;
  margin-left: 1em;
  padding: 0.3em 0.5em;
}
